<li id="kit_type-<%= kit_type.id %>">
  <%= link_to image_tag("toolbox-icon.png", size:"50", alt: "Kit Image", class:"gravatar"), kit_type %>
  <span class="user"><%= link_to kit_type.type_name, kit_type %></span>
  <span class="timestamp">
    <br>
  </span>
</li>