<% provide(:title, 'Editar Tipo de Caixa') %>
<% provide(:button_text, 'Confirmar Alterações') %>
<% provide(:path, kit_type_path(@kit_type)) %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1> Editar Tipo de Caixa </h1>
        <%= render 'form_kit_type' %>
    </div>
</div>