<% provide(:title, 'Cadastrar Tipo de Caixa') %>
<% provide(:button_text, 'Cadastrar') %>
<% provide(:path, kit_types_path) %>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1> Cadastrar Tipo de Caixa</h1>
      <%= render 'form_kit_type' %>
    </div>
</div>