<li>
  <%= gravatar_for_aluno aluno, size: 50 %>
  <%= link_to aluno.nome, aluno %>
  <% if current_user.admin? %>
    <%= link_to "excluir", aluno,
    method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger', style:'margin-left:5px' %>
  <% end %>
</li>