<% provide(:title, 'Alunos') %>
<h1>Alunos</h1>

<div>
  <%= link_to "Cadastrar Aluno", new_aluno_path, class: "btn btn-lg btn-primary", style: "margin-left:30px"%>
</div>

<%= will_paginate %>

<ul class="users">
  <%= render @alunos %>
</ul>

<%= will_paginate %>

<script>
  localStorage.clear(); // not really necessary, just clear the tabs that've been stored on the alunos show page
</script>