<div class="center jumbotron">
  <h1>Bem Vindo ao Sistema de Gerenciamento de Kits Odontológicos</h1>

  <h2>
    Caso não seja registrado, registre-se clicando no botão abaixo!
  </h2>

  <%= link_to "Registrar!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
            
<%= link_to image_tag("ufrn_logo.gif", alt: "UFRN logo", id:"centralizar"),
            'http://www.ufrn.br/' %>