<!DOCTYPE html>
<html>
<head>
  <meta name="pdfkit-margin_top" content="0in"/>
  <meta name="pdfkit-margin_bottom" content="0.0in"/>
  <meta name="pdfkit-margin_right" content="0.0in"/>
  <meta name="pdfkit-margin_left" content="0.0in"/>
  <title>Kit <%= "#{kit.id}" %> </title>
  <style>
    <%= CompassRails.sprockets.find_asset('application.scss').to_s %>
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>